<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="../../sass/index.scss" />
    <script type="module" src="../../index.js"></script>
  </head>
  <body>
    <include src="./partials/main/header.html"></include>
    <section class="blog">
      <!-- BLOG -->
      BLOG
      


<h2 class="blog__title">BLOG</h2>
    <ul class="blog__list">
      <li class="blog__item">
        <h3 class="blog__guide">Guide to Picking The Right Gaming Headset</h3>
        <picture>
          <!-- <source srcset="../../images/blog/des-1-1x.jpg 1x, 
                ../../images/blog/des-1-2x.jpg 2x"
                media="(min-width: 1280px)">
                <source srcset="../../images/blog/tab-1-1x.jpg 1x, 
                ../../images/blog/tab-1-2x.jpg 2x"
                media="(min-width: 768px)">
                <source srcset="../../images/blog/mob-1-1x.jpg 1x, 
                ../../images/blog/mob-1-2x.jpg 2x"
                media="(max-width: 767px)">
                <img 
              src="../../images/blog/1.jpg" alt="геймерські навушники" width="320" />
               -->
        </picture>
        <p class="blog__author">By Ray Ian Ampoloquio</p>
        <p class="blog__update">Updated on September 21, 2022</p>
        <p class="blog-text">Learn how to choose an amazing gaming headset with this checklist of just 9 
          surprisingly simple steps.
          Gaming headsets offer a handy and practical solution to any and all
          of your gaming audio needs. But, as with any kind of ...</p>
        <a href="./blog_article.html" class="blog__nav">Blog Article Page</a>
      </li>
      <li></li>
      <li></li>
    </ul>
    </section>
    <include src="./partials/main/footer.html"></include>
  </body>
</html>
