<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Take order</title>
    <link rel="stylesheet" href="./sass/index.scss" />
    <script type="module" src="./index.js"></script>
  </head>
  <body>
    <include src="../main/header.html"></include>
    <section class="takeorder">
      <!-- TAKE ORDER -->
      TAKE ORDER
      <include src="./partials/tomodal1.html"></include>
      <include src="./partials/tomodal2.html"></include>
    </section>
    <include src="../main/footer.html"></include>
  </body>
</html>
