<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Take order</title>
    <link rel="stylesheet" href="../../sass/index.scss" />
    <script type="module" src="../../index.js"></script>
  </head>
  <body>
    <include src="./partials/main/header.html"></include>
    <section class="takeorder">
      <!-- TAKE ORDER -->
      TAKE ORDER
      <include src="./partials/order/tomodal1.html"></include>
      <include src="./partials/order/tomodal2.html"></include>
    </section>
    <include src="./partials/main/footer.html"></include>
  </body>
</html>
