<section class="sale">
  <div class="sale-cards">
    <h2 class="sale-title">Sale</h2>
    <ul class="sale-list">
      <li class="sale-item">
        <a class="sale-link" href="#">
          <div class="sale-img">
            <picture>
              <source
                srcset="
                  ./images/sale/k9-pro-mob-1x.jpg 1x,
                  ./images/sale/k9-pro-mob-2x.jpg 2x
                "
                media="(min-width:480px)"
                sizes="100vw"
                type="image/jpeg"
              />
              <img
                class="sale-img"
                src="./images/sale/k-9-dt-1x.jpg"
                alt=""
                width="285"
                height="276"
              />
            </picture>
            <h3 class="product-title">Xiberia K9 PRO PC Headset</h3>
            <div class="product-prices">
              <p class="old-price">65.14 USD</p>
              <p class="new-price">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="sale-item">
        <a class="sale-link" href="#">
          <div class="sale-img">
            <picture>
              <source
                srcset="
                  ./images/sale/keyboard-mob-1x.jpg 1x,
                  ./images/sale/keyboard-mob-2x.jpg 2x
                "
                media="(min-width:480px)"
                sizes="100vw"
                type="image/jpeg"
              />
              <img
                class="sale-img"
                src="./images/sale/keyboard-dt-1x.jpg"
                alt=""
                width="285"
                height="276"
              />
            </picture>
            <h3 class="product-title">RGB LED Backlit Mechanical Keyboard</h3>
            <div class="product-prices">
              <p class="old-price">156.00 USD</p>
              <p class="new-price">116.00 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="sale-item">
        <a class="sale-link" href="#">
          <div class="sale-img">
            <picture>
              <source
                srcset="
                  ./images/sale/g95-mob-1x.jpg 1x,
                  ./images/sale/g95-mob-2x.jpg 2x
                "
                media="(min-width:480px)"
                sizes="100vw"
                type="image/jpeg"
              />
              <img
                class="sale-img"
                src="./images/sale/g-95-dt-1x.jpg"
                alt=""
                width="285"
                height="276"
              />
            </picture>
            <h3 class="product-title">G95 Light Surround Gaming Headset</h3>
            <div class="product-prices">
              <p class="old-price">78.98 USD</p>
              <p class="new-price">50.98 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="sale-item">
        <a class="sale-link" href="#">
          <div class="sale-img">
            <picture>
              <source
                srcset="
                  ./images/sale/mouse-mob-1x.jpg 1x,
                  ./images/sale/mouse-mob-2x.jpg 2x
                "
                media="(min-width:480px)"
                sizes="100vw"
                type="image/jpeg"
              />
              <img
                class="sale-img"
                src="./images/sale/mouse-dt-1x.jpg"
                alt=""
                width="285"
                height="276"
              />
            </picture>
            <h3 class="product-title">
              Malloom 1200 DPI 2.4Ghz Wireless Mouse
            </h3>
            <div class="product-prices">
              <p class="old-price">44.24 USD</p>
              <p class="new-price">29.93 USD</p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <button class="sale-btn" type="button">View all</button>
</section>
