.sale {
  background-image: url(../images/sale/background-mob-1x.jpg);
  padding-left: 17px;
  padding-right: 18px;
  padding-bottom: 48px;
  width: 100%;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.sale-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
}

.sale-item {
  padding-bottom: 12px;
  margin-bottom: 24px;
}

.sale-img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 8px;
}

.product-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.18;
  color: #86e543;
  max-width: 261px;
  padding-left: 8px;
  padding-right: 16px;
  margin-bottom: 8px;
}

.product-prices {
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.old-price {
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  text-decoration-line: line-through;
  color: #8d9289;
}

.new-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: #86e543;
}

.sale-btn {
  display: block;
  text-align: center;
  padding: 16px 48px;
  border-radius: 16px;
  background-color: #ffffff;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  color: #01383a;
  margin: 0 auto;
}
